/***/
#appmenu-button {
  background-image: -moz-linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%);
  border-color: rgba(83,42,6,.9);
  box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
              0 0 0 1px rgba(255,255,255,.25) inset;
}
#appmenu-button:hover:not(:active):not([open]) {
  background-image: -moz-radial-gradient(center bottom, farthest-side, rgba(252,240,89,.5) 10%, rgba(252,240,89,0) 70%),
                    -moz-radial-gradient(center bottom, farthest-side, rgb(236,133,0), rgba(255,229,172,0)),
                    -moz-linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%);
  border-color: rgba(83,42,6,.9);
  box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,
              0 0 2px 1px rgba(250,234,169,.7) inset,
              0 -1px 0 rgba(250,234,169,.5) inset;
}
#appmenu-button:hover:active,
#appmenu-button[open] {
  background-image: -moz-linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%);
  box-shadow: 0 2px 3px rgba(0,0,0,.4) inset,
              0 1px 1px rgba(0,0,0,.2) inset;
}




.abp-contextmenuitem{display:none!important;}
.tabbrowser-tab{min-width:150px!important;}
#urlbar[pageproxystate='invalid'] > #identity-box{pointer-events: auto!important;} 

/* identity box * /

#identity-box {
  background-image: -moz-linear-gradient(hsl(0,0%,98%), hsl(0,0%,92%));
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset;
  -moz-border-end: 1px solid hsla(0,0%,0%,.1);
  padding: 2px;
  margin: -2px;
  -moz-margin-end: 0;
}

#identity-box:-moz-locale-dir(ltr) {
  border-top-left-radius: 1.5px;
  border-bottom-left-radius: 1.5px;
}

#identity-box:-moz-locale-dir(rtl) {
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
}

#identity-box:hover {
  background-image: -moz-linear-gradient(hsl(0,0%,95%), hsl(0,0%,87%));
}

#identity-box[open="true"],
#identity-box:hover:active {
  background-image: -moz-linear-gradient(hsl(0,0%,92%), hsl(0,0%,82%));
  box-shadow: 0 1px 1px hsla(0,0%,0%,.3) inset,
              0 1px 3px hsla(0,0%,0%,.3) inset;
}

#identity-box.verifiedDomain {
  background-image: -moz-linear-gradient(hsl(215,60%,92%), hsl(215,58%,88%));
  box-shadow: 0 1px 0 hsla(215,54%,33%,.05) inset;
  -moz-border-end-color: hsla(215,54%,33%,.2);
  color: hsl(215,54%,33%);
}

#identity-box.verifiedDomain:hover {
  background-image: -moz-linear-gradient(hsl(215,85%,85%), hsl(215,70%,68%));
}

#identity-box.verifiedDomain[open="true"],
#identity-box.verifiedDomain:hover:active {
  background-image: -moz-linear-gradient(hsl(215,80%,80%), hsl(215,67%,65%));
  box-shadow: 0 1px 1px hsla(215,54%,33%,.7) inset,
              0 1px 3px 1px hsla(215,54%,33%,.5) inset;
}

#identity-box.verifiedIdentity {
  background-image: -moz-linear-gradient(hsl(91,70%,90%), hsl(93,60%,81%));
  box-shadow: 0 1px 0 hsla(92,81%,16%,.05) inset;
  -moz-border-end-color: hsla(92,81%,16%,.2);
  color: hsl(92,100%,20%);
}

#identity-box.verifiedIdentity:hover {
  background-image: -moz-linear-gradient(hsl(92,69%,77%), hsl(92,44%,51%));
}

#identity-box.verifiedIdentity[open="true"],
#identity-box.verifiedIdentity:hover:active {
  background-image: -moz-linear-gradient(hsl(92,65%,70%), hsl(92,40%,48%));
  box-shadow: 0 1px 1px hsla(92,81%,16%,.6) inset,
              0 1px 3px 1px hsla(92,81%,16%,.5) inset;
}

#identity-box:-moz-focusring {
  outline: 1px dotted #000;
  outline-offset: -3px;
}

#identity-icon-labels {
  -moz-margin-start: 1px;
  -moz-margin-end: 3px;
}

/* Location bar dropmarker * /

.urlbar-history-dropmarker {
  -moz-appearance: none;
  padding: 0 1px;
  background-color: transparent;
  border: none;
  width: auto;
  list-style-image: url(mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0, 13px, 11px, 0);
}


.urlbar-history-dropmarker:hover:active,
.urlbar-history-dropmarker[open="true"] {
  -moz-image-region: rect(0, 26px, 11px, 13px);
}

/* page proxy icon * /

#page-proxy-favicon,
#urlbar-throbber {
  width: 16px;
  height: 16px;
}

#page-proxy-stack {
  width: 24px;
  height: 18px;
  padding: 1px 4px;
}

#page-proxy-favicon:not([src]) {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

#page-proxy-favicon[pageproxystate="invalid"] {
  opacity: 0.5;
}